
body {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
    background: url("cool-background.png");
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }

  li {
      display: inline-block;
  }
.navbar-nav { 
    float: right;
}

.nav2 {
    text-align: right;
}

.img-fluid {
    float: left;
    margin-right: 10px;
}

.navbar-header {
    background-color: #2D4230;
    
}

.navbar-brand {
    color: white !important;
}

h1 {
    color: #2D4230;
}

.work {
    
    
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 89%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #2D4230;
    border-bottom: 0;
  }

@media screen and (max-width: 640px) {
    .img-fluid {
        float: none;
        display: block;
    }

    .nav >li{
        display: inline-block;
    }

    .navbar-nav {
    float: none;
    text-align: center;
    text-decoration: none;
    
    }

    .navbar-brand {
        
    }
    .links {
        margin: 10px;
        
    }

    .img-fluid{
        border-radius: 50px 20px;
    }
}

.nav{
    color: rgba(255, 255, 255, 0.8);
    background: #2D4230;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}
  
  .nav:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #D8270B;
  }

  .row:hover{
    
    box-shadow: 0 5px 15px #D8270B;
  }

  .main-section:hover{
    
    box-shadow: 0 5px 15px #D8270B;
  }

