
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/concrete_seamless.png");
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }

  li {
      display: inline-block;
  }
.navbar-nav { 
    float: right;
}

.nav2 {
    text-align: right;
}

.img-fluid {
    float: left;
    margin-right: 10px;
}

.navbar-header {
    background-color: #4aaaa5;
    
}

.navbar-brand {
    color: white !important;
}

h1 {
    color: #4aaaa5;
}

.work {
    
    
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 89%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

@media screen and (max-width: 640px) {
    .img-fluid {
        float: none;
        display: block;
    }

    .nav >li{
        display: inline-block;
    }

    .navbar-nav {
        float: none;
        text-align: center;
    }

    .navbar-brand {
        text-align: center !important;
        width: 100%;
    }
}

